<!DOCTYPE html>
<html>
<head>
<title>觅家美国</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link File.join(ASSET_URL, '/wechat/agent.css') %>
<%= javascript_tag File.join(ASSET_URL, '/js/bundle_vendor.js') %>
<script>
var SERVER_URL = "<%= MEEHOME_SERVER_URL %>";
var CLIENT_URL = "<%= MEEHOME_CLIENT_URL %>";
var CDN_URL = "<%= CDN_URL %>"
var agentId = "<%= @agent_info[:agent_id] %>";
var articleId = '';

<% if @agent_info[:page_config] %>
  articleId = "<%= JSON.parse(@agent_info[:page_config])['article_id'] %>";
<% end %>

if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
console.log('mobile');
}
</script>
</head>
<body>
<script type="text/javascript">
$(window).load(function() {
// Animate loader off screen
$(".se-pre-con").fadeOut("slow");
  $('.wechat-icon').on("click",function(){
     $('.qr-wrap').fadeIn(900);
  })
});

$(document).ready(function() {
  $.ajax({
    url: '/agent/' + agentId + '/meejia_image',
    type: 'get',

    success: function(data) {
      data = JSON.parse(data);
      var qrImage;
      if(data.is_followed){
        qrImage = data.img_url
      } else {
        qrImage = data.meejia_url
      }
       $('#meejiaImageHref').attr("href", qrImage);
       $('#meejiaImage').attr('src', qrImage);
    },

    error: function() {
      console.log('error generate qr code');
    }
  });

  $("#nextPage").click(function(){
    updateHomeLIst(false);
  });

  function updateHomeLIst(firstTime) {
    $.ajax({
      url: '/agent/' + agentId + '/home_list',
      type: 'get',

      success: function(data) {
        $(".preview_list_div").html(data);
        if(!firstTime) {
          $('html, body').animate({
            scrollTop: $('.previewH3').offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = 'homeList';
          });
        }
      },

      error: function() {
        console.log('error home list');
      }
    });
  }

  updateHomeLIst(true);

  if(articleId != ''){
    $.ajax({
      url: '/article/' + articleId,
      type: 'get',
      success: function(data) {
        data = JSON.parse(data);
        $('#title').html(data.title);
        $('#digest').html(data.digest);
        $('#content').html(data.content);
      },

      error: function() {
        console.log('error fetching article');
      }
    });
  }
})

</script>
<div class="se-pre-con">
  <div class="loading-text">正在加载<br>休息,休息一下</div>
  <div class="preloading"></div>
</div>
<div id="agentcontent">
  <div class="header">
    <div class="logo">
    </div>
  </div>
  <div>
    <div class="agent-page">
      <div class='agent_home_div'>
        <img class='profile_img' src= <%= @agent_info[:head_image]%>/>
        <div class='name_card'>
          <p class="agent-name"><%= @agent_info[:cn_name]%></p>
          <p class="info-mail"><%= @agent_info[:mail]%></p>
          <p class="contact-number">经纪人执照号 <%= @agent_info[:license_id] %></p>
          <p class="description"><%= @agent_info[:description]%></p>

          <a id="agent_qr_panel"></a>
          <div id="'qr_panel" class="arrow-container">
            <div class="open-panel">
              经纪人二维码，长按获取
            </div>
            <div class="arrow">
            </div>
            <div id="qr-anchor" class="qr-wrap">
              <img class='agent_qr_img' src=<%= @agent_info[:qr_code]%> />
            </div>
          </div>
        </div>
      </div><!--close agent_home_div-->

      <div>
        <h3 class='previewH3'>推荐文章</h3>
        <h5 id="title"/>
        <h6 id="digest"/>
      </div>
      <div class='article_content' id="content"></div>
      <a href="#homeList"></a>
      <h3 class='previewH3'>优质房源</h3>
      <div class='preview_list_div'>

      </div> <!--close preview_list_div-->

      <div class="arrow-container">
        <div id="nextPage" class="open-panel">
          换一批
        </div>
        <br/>
        <div class="open-panel">
          关注觅家，长按获取
        </div>
        <div class="arrow">
        </div>
        <div id="qr-anchor" class="qr-wrap">
          <img id='meejiaImage' class='agent_qr_img' src=<%= File.join(MEEHOME_CLIENT_URL, 'img/preloading.gif')%> />
        </div>
      </div>

    </div><!--close agent-page-->
    <div class='float_menu'>
      <ul>
        <li><a href=<%= "tel:#{@agent_info[:phone]}" %> ><span class='glyphicon glyphicon-earphone'></span><br/>电话</a></li>
        <li><a href=<%= "sms://#{@agent_info[:phone]}" %>><span class='glyphicon glyphicon-phone'></span><br/>短信</a></li>
        <li><a class="wechat-icon" href="#agent_qr_panel"><span class='glyphicon glyphicon-comment'></span><br/>微信</a></li>
        <li><a href=<%= "mailto:#{@agent_info[:mail]}" %> ><span class='glyphicon glyphicon-envelope'></span><br/>电邮</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
