<!DOCTYPE html>
<html>
<head>
  <title>Meejia</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,100,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <%= stylesheet_link File.join(CDN_URL, '/css/bundle.css') %>
  <script>
    var SERVER_URL = "<%= MEEHOME_SERVER_URL %>";
    var CLIENT_URL = "<%= MEEHOME_CLIENT_URL %>";
    var CDN_URL = "<%= CDN_URL %>"
    var home_id = <%= @data %>;    //Todo
  </script>
</head>
<body>
<div id="content"></div>
</body>
<%= javascript_tag File.join(CDN_URL, '/js/bundle_vendor.js') %>
<%= javascript_tag File.join(CDN_URL, '/js/home_detail.js') %>
</html>
