<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>觅家美国</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #meemap { position:absolute; top:0; bottom:0; width:100%; }
  </style>
  <script>
    var homes = <%= @homes.to_json %>;
    var CDN_URL = "<%= CDN_URL %>";
    var CLIENT_URL = "<%= MEEHOME_CLIENT_URL %>";
  </script>
</head>

<style>
  .popup {
    text-align:center;
  }
  .popup .slideshow .image        { display:none; }
  .popup .slideshow .image.active { display:block; }
  .popup .slideshow img {
    width:100%;
  }
  .popup .slideshow .caption {
    background:#eee;
    padding:10px;
  }
  .popup .cycle {
    padding:10px 0 20px;
  }
</style>


<body>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

<div id='meemap'></div>

<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiZGV1Ym95IiwiYSI6ImNpcDg3cm1xMzAxN3VzeW5vdWd6YWx4c2IifQ.cU1CJ-BMZuoyHigylGe4gA';
  var map = L.mapbox.map('meemap', 'mapbox.streets')
    .setView([homes[0].geo_point.split(',')[0], homes[0].geo_point.split(',')[1]], 13);

  var myLayer = L.mapbox.featureLayer().addTo(map);
  var markers = new L.MarkerClusterGroup();


  for (var i in homes) {
    var home = homes[i];
    var image_url = '';
    if(home.images.length > 0 && home.images[0] != undefined){
      image_url = CDN_URL + 'photo/' + home.images[0].image_url
    }
    var lat = home.geo_point.split(',')[0];
    var long = home.geo_point.split(',')[1];

    var marker = L.marker(new L.LatLng(lat, long), {
      icon: L.mapbox.marker.icon({'marker-symbol': 'warehouse', 'marker-color': '0044FF'}),
    });

    var slideshowContent = '';

    slideshowContent += '<div class="image active">' + '<a href="' + CLIENT_URL + '/home/' + home.id + '">' + '<div class="price">' + home.price + '</div>' +
      '<img src="' + image_url + '" />' + '</a>' +
      '<div class="caption">' + home.short_desc + '</div>' +
      '</div>';

    // Create custom popup content
    var popupContent =  '<div id="' + home.id + '" class="popup">' +
      <% if @uid %>
      '<a href="' + CLIENT_URL + '/metric/home/' + home.id + '?uid=<%= @uid %>' + '&s=<%= TRACKING_SOURCE["home_map"]%>">' +
      <% else %>
      '<a href="' + CLIENT_URL + '/metric/home/' + home.id + '?s=h_m">' +
      <% end %>
      '<h2>' + home.addr1 + '</h2>' + '</a>' +
      '<div class="slideshow">' +
        slideshowContent +
      '</div>' +
      '</div>';

    marker.bindPopup(popupContent, {
      closeButton: false,
      minWidth: 320
    });

    markers.addLayer(marker);
  }
  map.addLayer(markers);
</script>
</body>
</html>
