<!DOCTYPE html>
<html>
<head>
  <title>觅家美国</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

  <%= javascript_tag File.join(ASSET_URL, '/js/bundle_vendor.js') %>
  <%= stylesheet_link File.join(ASSET_URL, '/wechat/owl-carousel/owl.carousel.css') %>
  <%= stylesheet_link File.join(ASSET_URL, '/wechat/owl-carousel/owl.theme.css') %>
  <%= stylesheet_link File.join(ASSET_URL, '/wechat/custom.css') %>
  <%= stylesheet_link File.join(ASSET_URL, '/wechat/components.css') %>
  <%= stylesheet_link File.join(ASSET_URL, '/wechat/responsee.css') %>

  <%= javascript_tag File.join(ASSET_URL, '/wechat/owl-carousel/owl.carousel.js') %>
  <script>
    var CDN_URL = "<%= CDN_URL %>";
    var uid = "<%=@uid%>";
    var ACCESS_KEY = "<%= ACCESS_KEY %>";

    var home = {
      addr1: "<%= addr1 %>",
      addr2: "<%= addr2 %>",
      bed_num: "<%= bed_num %>",
      city: "<%= city %>",
      county: "<%= county %>",
      geo_point: "<%= geo_point %>",
      id: "<%= id %>",
      lot_size: "<%= lot_size %>",
      neighborhood: "<%= neighborhood %>",
      price: "<%= price %>",
      state: "<%= state %>",
      stores: "<%= stores %>",
      unit_price: "<%= unit_price %>",
      year_built: "<%= year_built %>",
      zipcode: "<%= zipcode %>",
      images: <%=  images.to_json %>,
      assigned_school: <%= assigned_school.to_json %>,
      public_schools: <%= public_schools.to_json %>,
      private_schools: <%= private_schools.to_json %>,
      city_info: <%= city_info.to_json %>,
      short_desc: "<%= short_desc %>",
      monthly_rent: "<%= monthly_rent %>",
      property_tax: "<%= property_tax %>",
      bath_num: "<%= bath_num %>",
      indoor_size: "<%= indoor_size %>"
    };
    home.city_info = JSON.parse(home.city_info);
    home.images = JSON.parse(home.images);
    home.assigned_school = JSON.parse(home.assigned_school);
    home.public_schools = JSON.parse(home.public_schools);
    home.private_schools = JSON.parse(home.private_schools);
    function likeHome() {
      $.ajax({
        url: '/favoriteHome',
        headers: {
          'uid': uid
        },
        type: 'POST',

        dataType: 'json',

        data: JSON.stringify({home_id: home.id}),

        success: function() {
          $('#likeBtn').addClass('likedButton');
        },

        error: function() {
         //do nothing
        }
      });

    }
  </script>
</head>

<body class='mobile-container'>
<script type="text/javascript">
  $(window).load(function() {
    // Animate loader off screen
    $(".se-pre-con").fadeOut("slow");
  });
</script>
<div class="se-pre-con">
  页面加载中
</div>

<div class='header'>
  觅家优质房源
</div>

<div id="owl-demo" class="owl-carousel">
</div>

<div style="height: 50px">
  <button id='likeBtn' class='likeButton' onclick="likeHome()"></button>
</div>

<div class='info'>
  <h3 class='sub-header'>房源信息</h3>
  <div class='item-wrap price'>
    
    <div class='info-detail'><%= price %></div>
  </div>
  <div class='item-wrap'>
    <h4 class='info-item'>房屋地址：</h4>
    <div class='info-detail'>
      <%= addr1 %>, <%= addr2 %><%= city %>, <%= state %> <%= zipcode %>
    </div>
  </div>
  <div class='item-wrap'>
    <h4 class='info-item'>房屋详情：</h4>
    <div class='info-detail'>
      <%= short_desc %>
    </div>
  </div>
  <div class='item-wrap'>
    <h4 class='info-item'>房屋单价：</h4>
    <div class='info-detail'>
      <%= unit_price %>
    </div>
  </div>
  <div class='item-wrap'>
    <h4 class='info-item'>预计月租：</h4>
    <div class='info-detail'>
      <%= monthly_rent %>
    </div>
  </div>
</div>

<% if city_info%>
<div class='area'>
  <h3 class='sub-header'>族裔比例</h3>
  <div id="canvas-holder">
    <canvas id="chart-area" width="150" height="150"/>
  </div>
  <ul class='area-list'>
    <li><span class='color-sq sq-red'></span>白人: <span class='data-span'><%= city_info['caucasion'] %></span></li>
    <li><span class='color-sq sq-blue'></span>亚裔: <span class='data-span'><%= city_info['asian'] %></span></li>
    <li><span class='color-sq sq-yellow'></span>非洲裔: <span class='data-span'><%= city_info['black'] %></span></li>
    <li><span class='color-sq sq-dark'></span>西班牙裔: <span class='data-span'><%= city_info['hispanics'] %></span></li>
    <li><span class='color-sq sq-grey'></span>其他: <span class='data-span'><%= (100 - (city_info['asian']).to_i - (city_info['black']).to_i - (city_info['caucasion']).to_i - (city_info['hispanics']).to_i) %></span></li>
  </ul>
</div>

<div>
  <h3 class='sub-header'>房源地区</h3>
  <table class='area-table'>
    <tr>
      <th>PM2.5指数</th>
      <th>平均家庭收入</th>
    </tr>
    <tr>
      <td><%= city_info['PMI'] %></td>
      <td><%= city_info['income'] %></td>
    </tr>
    <tr>
      <th>人口</th>
      <th>平均受教育程度</th>
    </tr>
    <tr>
      <td><%= city_info['population'] %></td>
      <td><%= city_info['above_bachelor'] %></td>
    </tr>
    <tr>
      <th>州失业率</th>
      <th>本市失业率</th>
    </tr>
    <tr>
      <td><%= city_info['state_unemploy'] %></td>
      <td><%= city_info['unemploy'] %></td>
    </tr>
    <tr>
      <th>全美犯罪指数</th>
      <th>本市犯罪指数</th>
    </tr>
    <tr>
      <td><%= city_info['us_crime'] %></td>
      <td><%= city_info['crime'] %></td>
    </tr>
  </table>
  <div class='map-canvas'>
    <div id='myMap'></div>
    <div id="output"></div>
  </div>
</div>
<% end %>
<div>
  <h3 class='sub-header'>经纪人</h3>
  <div class="agent-list">
  <% @agents.each do |agent| %>
    <div class="agentInfo">
      <img class="profile_img" src=<%=agent['wechat_user']['head_img_url'] %>/>
      <div class="agent_name">
        <a href=<%= MEEHOME_CLIENT_URL + '/agent/' + agent['agent_extention']['agent_identifier']%>><%= agent['agent_extention']['cn_name'] || agent['wechat_user']['nickname'] %></a>
        <p> 从业经验: <%=  agent['agent_extention']['license_year']? Time.now.year - agent['agent_extention']['license_year'].to_i : 0%>年 </p>
      </div>
      <img class="qr-code-img" src=<%=agent['qr_code'] %>/>
    </div>
  <% end %>
  </div>
</div>
<div>
<h3 class='sub-header'>指定学校</h3>
<% if elemental=assigned_school.select{|sch| sch['grade'].include?('K')}.first %>
  <div class='school primary'>
    <h4 class='school-name'>小学</h4>
    <div class='school-table'>
      <div class='row row-name row-title'>学校名称</div>
      <div class='row row-name'><%= elemental['name'] %></div>
      <div class='row'>
        <div class='row-headline row-title'>学校评分</div>
        <div class='row-headline row-title'>教师学生比例</div>
      </div>
      <div  class='row'>
        <div class='row-headline'><%= elemental['rating'] %></div>
        <div class='row-headline'><%= elemental['student_teacher_ratio'] %></div>
      </div>
      <div class='row'>
        <div class='row-headline row-title'>距离</div>
        <div class='row-headline row-title'>年级</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= elemental['distance'] %></div>
        <div class='row-headline'><%= elemental['grade'] %></div>
      </div>
    </div>
  </div>
<% end %>
<% if secondary=assigned_school.select{|sch| sch['grade'].include?('7')}.first %>
  <div class='school secondary'>
    <h4 class='school-name'>初中</h4>
    <div class='school-table'>
      <div class='row row-name row-title'>学校名称</div>
      <div class='row row-name'><%= secondary['name'] %></div>
      <div class='row'>
        <div class='row-headline row-title'>学校评分</div>
        <div class='row-headline row-title'>教师学生比例</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= secondary['rating'] %></div>
        <div class='row-headline'><%= secondary['student_teacher_ratio'] %></div>
      </div>
      <div class='row'>
        <div class='row-headline row-title'>距离</div>
        <div class='row-headline row-title'>年级</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= secondary['distance'] %></div>
        <div class='row-headline'><%= secondary['grade'] %></div>
      </div>
    </div>
  </div>
  <% end %>
  <% if high=assigned_school.select{|sch| sch['grade'].include?('12')}.first %>
    <div class='school high'>
      <h4 class='school-name'>高中</h4>
      <div class='school-table'>
        <div class='row row-name row-title'>学校名称</div>
        <div class='row row-name'><%= high['name'] %></div>
        <div class='row'>
          <div class='row-headline row-title'>学校评分</div>
          <div class='row-headline row-title'>教师学生比例</div>
        </div>
        <div class='row'>
          <div class='row-headline'><%= high['rating'] %></div>
          <div class='row-headline'><%= high['student_teacher_ratio'] %></div>
        </div>
        <div class='row'>
          <div class='row-headline row-title'>距离</div>
          <div class='row-headline row-title'>年级</div>
        </div>
        <div class='row'>
          <div class='row-headline'><%= high['distance'] %></div>
          <div class='row-headline'><%= high['grade'] %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<h3 class='sub-header'>其他附近学校</h3>
<h4 class='school-name'>公立</h4>
<% public_schools.each do |school|%>
  <div class='school high'>
    <div class='school-table'>
      <div class='row row-name row-title'>学校名称</div>
      <div class='row row-name'><%= school['name'] %></div>
      <div class='row'>
        <div class='row-headline row-title'>学校评分</div>
        <div class='row-headline row-title'>教师学生比例</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= school['rating'] %></div>
        <div class='row-headline'><%= school['student_teacher_ratio'] %></div>
      </div>
      <div class='row'>
        <div class='row-headline row-title'>距离</div>
        <div class='row-headline row-title'>年级</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= school['distance'] %></div>
        <div class='row-headline'><%= school['grade'] %></div>
      </div>
    </div>
  </div>
<% end %>

<h4 class='school-name'>私立</h4>
<% private_schools.each do |school|%>
  <div class='school high'>
    <div class='school-table'>
      <div class='row row-name row-title'>学校名称</div>
      <div class='row row-name'><%= school['name'] %></div>
      <div class='row'>
        <div class='row-headline row-title'>学校评分</div>
        <div class='row-headline row-title'>教师学生比例</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= school['rating'] %></div>
        <div class='row-headline'><%= school['student_teacher_ratio'] %></div>
      </div>
      <div class='row'>
        <div class='row-headline row-title'>距离</div>
        <div class='row-headline row-title'>年级</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= school['distance'] %></div>
        <div class='row-headline'><%= school['grade'] %></div>
      </div>
    </div>
  </div>
<% end %>

<h4 class='school-name'>大学</h4>
<% colleges.each do |school|%>
  <div class='school high'>
    <div class='school-table'>
      <div class='row row-name row-title'>学校名称</div>
      <div class='row row-name'><%= school['name'] %></div>
      <div class='row'>
        <div class='row-headline row-title'>学校评分</div>
        <div class='row-headline row-title'>教师学生比例</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= school['rating'] %></div>
        <div class='row-headline'><%= school['student_teacher_ratio'] %></div>
      </div>
      <div class='row'>
        <div class='row-headline row-title'>距离</div>
        <div class='row-headline row-title'>年级</div>
      </div>
      <div class='row'>
        <div class='row-headline'><%= school['distance'] %></div>
        <div class='row-headline'>大学</div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    var result = '';
    var element = $( this );
    _.forEach(home.images, function(img){
      result += '<div class="item"><img class="lazyOwl" data-src="' + CDN_URL + '/photo/' + img.image_url + '" alt="Lazy Owl Image"></div>';
    })
    $(".owl-carousel").append(result);

    $(".owl-carousel").owlCarousel({
      items : 3,
      lazyLoad : true,
      navigation : true
    });

    var data = home.city_info;
    var other = 100 - parseInt(data.asian) - parseInt(data.black) - parseInt(data.caucasion) -  parseInt(data.hispanics)

    var pieData = [
      {
        value: parseInt(data.asian),
        color:"#45BDBC",
        highlight: "#45BDBC",
        label: "亚裔"
      },
      {
        value: parseInt(data.black),
        color: "#FDB45C",
        highlight: "#FDB45C",
        label: "非洲裔"
      },
      {
        value: parseInt(data.caucasion),
        color: "#F54549",
        highlight: "#F54549",
        label: "白人"
      },
      {
        value: parseInt(data.hispanics),
        color: "#4D5360",
        highlight: "#4D5360",
        label: '西班牙裔'
      },
      {
        value: parseInt(other),
        color: "#949FB1",
        highlight: "#949FB1",
        label: "其他"
      },
    ];

    var ctx = document.getElementById("chart-area").getContext("2d");
    window.myPie = new Chart(ctx).Pie(pieData);

    function showMap(home) {
      map = new Microsoft.Maps.Map(document.getElementById('myMap'), {credentials: ACCESS_KEY,
        showMapTypeSelector:false
      });
//
      infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false, offset: new Microsoft.Maps.Point(0, 20) });
      map.entities.push(infobox);

      Microsoft.Maps.Events.addHandler(map, 'mousewheel', function(e) {
        e.handled = true;
        return true;
      });

      var output = document.getElementById("output");

      if (output) {
        while (output.hasChildNodes()) {
          output.removeChild(output.lastChild);
        }
      }
      var resultsHeader = document.createElement("h5");
      output.appendChild(resultsHeader);
      var that = this;

      var lat = home.geo_point.split(',')[0];
      var long = home.geo_point.split(',')[1];

      var location = new Microsoft.Maps.Location(lat, long);
      var pushpin = new Microsoft.Maps.Pushpin(location);

      pushpin.Title = home.title;
      pushpin.Description = home.short_desc;
      map.entities.push(pushpin);
//      Microsoft.Maps.Events.addHandler(pushpin, 'mouseover', that.displayInfo);
//      Microsoft.Maps.Events.addHandler(pushpin, 'click', that.showHomeDetail);
//        map.entities.push(pushpin);
//      })
      map.setView({center: location, zoom: 10});

    };

    showMap(home);
  });
</script>

</body>

</html>
